<div class="row">
  <div class="card-deck">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title"> Available Channels. </h4>
        <p class="card-text"> Available to drag. This is a sort of data repo. you can select and build a new channel list. </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" dnd-draggable [dragEnabled]="true" [dragData]="transferData">
          Drag Me {{ transferData | json }}
        </li>
        <li class="list-group-item" dnd-draggable [dragEnabled]="true" [dragData]="transferData2">
          Drag Me2 {{ transferData2 | json }}
        </li>
      </ul>
    </div>

    <div class="card" dnd-droppable  (onDropSuccess)="transferDataSuccess($event)">
      <div class="card-block">
        <h4 class="card-title"> Here </h4>
        <p class="card-text"> drop here! </p>
      </div>
      <ul class="list-group list-group-flush" [hidden]="!receivedData.length > 0">
        <li class="list-group-item" *ngFor="let data of receivedData"> {{ data | json }} </li>
      </ul>
    </div>
  </div>
</div>