<h2>Box Office</h2>
<div class="media" *ngFor="let movie of movies">
  <div class="media-left">
    <em> {{movie.rank}} </em>
  </div>
  <div class="media-left media-middle">
    <!--<a [routerLink]="['/boxoffice/home', movie.rank]">-->
    <!--<a (click)="onSelectMovie(movie)">-->
    <a (click)="selectMovie.emit(movie)">
      <img class="media-object" width="80" height="120" src="{{movie.thumbnail}}" alt="{{movie.name}}">
    </a>
  </div>
  <div class="media-body">
    <h5 class="media-heading">{{movie.name}} </h5> <span> ({{movie.engName}})</span>
    <p> 평점 : </p>
    <p>개봉일 : {{movie.openDay}}</p>
  </div>
</div>